<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.petshopuser.mapper.UserMapper">
    <insert id="insert_phoneCode">
        insert into phone_Code (id,code,phone) values (#{id},#{code},#{phone})
    </insert>
    <insert id="addUser">
        INSERT INTO user (id,avatar,name,sex,age,account,password,address,phone)
        VALUES (#{id},#{avatar},#{name},#{sex},#{age},#{account},#{password},#{address},#{phone});
    </insert>
    <insert id="insert_userAddress">
        INSERT INTO address (id,user_id,addressee,province,city,county,detailed_address,postcode,phone,defaultAddress)
        VALUES (#{new_address.id},#{user_id},#{new_address.addressee},#{new_address.province},#{new_address.city},#{new_address.county},#{new_address.detailed_address},#{new_address.postcode},#{new_address.phone},#{new_address.defaultAddress});
    </insert>
    <update id="update_phoneCode">
        update phone_Code set time=CURRENT_TIMESTAMP,code=#{code} where phone=#{phone}
    </update>
    <update id="update_userProfile">
        update user set name=#{name},sex=#{sex},age=#{age},address=#{address},avatar=#{avatar} where account=#{phone} and id=#{id}
    </update>
    <update id="update_resetUserPassword">
        update user set password = #{password} where account=#{account}
    </update>
    <update id="updateAddress">
        UPDATE address
        SET addressee = #{new_address.addressee},
            province = #{new_address.province},
            city = #{new_address.city},
            county = #{new_address.county},
            detailed_address = #{new_address.detailed_address},
            postcode = #{new_address.postcode},
            phone = #{new_address.phone},
            defaultAddress = #{new_address.defaultAddress}
        WHERE user_id = #{user_id} and id=#{new_address.id}
    </update>
    <update id="save_avatar">
        update user set avatar = #{filename} where id = #{user_id}
    </update>
    <delete id="delete_address">
        delete from address where id = #{address_id} and user_id=#{user_id}
    </delete>

    <select id="getAllUser" resultType="com.example.petshopuser.entity.User">
        select * from user;
    </select>
    <select id="findUserByPhone" resultType="com.example.petshopuser.entity.User">
        select * from user where account=#{phone}
    </select>
    <select id="find_phoneCodeByPhone" resultType="java.lang.Integer">
        SELECT COUNT(*) from phone_Code WHERE phone=#{phone};
    </select>
    <select id="get_phoneCodeByPhone" resultType="java.lang.String">
        select code from phone_Code where phone=#{phone};
    </select>
    <select id="get_phoneCodeTimeByPhone" resultType="java.sql.Timestamp">
        select time from phone_Code where phone=#{phone};
    </select>
    <select id="findUserByAccount" resultType="com.example.petshopuser.entity.User">
        select * from user where account = #{account};
    </select>
    <select id="getUserById" resultType="com.example.petshopuser.entity.User">
        select * from user where id = #{id}
    </select>
    <select id="getUserInfoByPhone" resultType="com.example.petshopuser.entity.User">
        select * from user where account=#{phone}
    </select>
    <select id="getUserInfoByUserId" resultType="com.example.petshopuser.entity.User">
        select * from user where account=#{phone}
    </select>
    <insert id="setIP">
        insert into ip_address(id,user_id,ip,ip_address) values(#{id},#{user_id},#{ip},#{ip_address})
    </insert>

    <resultMap id="getIPDTO" type="com.example.petshopuser.entity.Ip_address">
        <result column="id" property="id"/>
        <result column="user_id" property="user_id"/>
        <result column="ip" property="ip"/>
        <result column="ip_address" property="ip_address"/>
        <result column="create_time" property="create_time"/>
    </resultMap>
    <select id="getIP" resultMap="getIPDTO">
        SELECT *
        FROM ip_address
        WHERE create_time = (SELECT MAX(create_time) FROM ip_address)
        AND  user_id = #{user_id}
    </select>

    <resultMap id="addressDTO" type="com.example.petshopuser.entity.Address">
        <result column="id" property="id"/>
        <result column="addressee" property="addressee"/>
        <result property="city" column="city"/>
        <result property="county" column="county"/>
        <result property="defaultAddress" column="defaultAddress"/>
        <result property="detailed_address" column="detailed_address"/>
        <result property="phone" column="phone"/>
        <result property="postcode" column="postcode"/>
        <result property="province" column="province"/>
    </resultMap>
    <select id="getAddressListByUserId" resultMap="addressDTO">
        select * from address where user_id = #{user_id}
    </select>
</mapper>